@import './_variables';

.open {
  display: flex;
}

.burger__menu {
  display: none;

    &-tel {
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    font-size: 0;
    padding: 10px;
  }

  &-btn {
    position: relative;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    padding: 10px;
  }
}

.mobile-menu {
  display: none;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    padding: 15px;
    background-color: $bg-color-primary;
    color: $text-color-secondary;

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 60px;

      &__item {
        position: relative;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        line-height: 48px;
      }
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1000;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 44px;
    height: 44px;

    .button_close {
      width: 25px;
      height: 25px;
      margin: 8px 10px;
    }
  }
}

@media (max-width: 1024px) {
  .burger__menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}
