@import './_variables';

.footer {
  background: $bg-color-primary;
  color: $text-color-secondary;
  padding: 40px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__copy {
    font-size: 16px;
    color: $text-color-secondary-70;
    margin-top: 5px;
  }
}
