@import './_variables';

*,
*:before,
*:after {
  font-family: Jost, sans-serif;
}

body,
html {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
  font-family: Jost;
  font-weight: 400;
  line-height: 1.6;
}

body.unscroll {
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 400;
}

button {
  border: none;
}

section {
  padding: 120px 0;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  height: 100%;

  &-wide {
    max-width: 1720px;
    padding: 0 15px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.tel {
  font-size: 30px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  cursor: pointer;
  font-size: 18px;
  background-color: $bg-color-tertiary;
  border-radius: 5px;
  color: $text-color-secondary;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: $button-color-primary-hover;
  }
}

.btn--dark {
  background-color: $bg-color-primary;

  &:hover {
    background-color: $button-color-secondary-hover;
    color: $text-color-primary-70;
  }
}

@media (max-width: 1800px) {
  .container-wide {
    padding: 0 20px;
  }
}

@media (max-width: 1400px) {
  section {
    padding: 90px 0;
  }
}

@media (max-width: 1200px) {
  .container-wide {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .container,
  .container-wide {
    padding: 0 10px;
  }
}

