*,
*:before,
*:after {
  font-family: "Jost", sans-serif;
}

body,
html {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  position: relative;
  font-family: Jost;
  font-weight: 400;
  line-height: 1.6;

}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 400;
}

button {
  border: none;
}

section {
  padding: 120px 0;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  height: 100%;
}

.header__container {
  margin: 0 auto;
  max-width: 1720px;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  width: 228px;
  height: 48px;
}

.tel {
  font-size: 30px;
  font-weight: 600;
}


// .flex {
//   display: flex;
// }


@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}


@media (max-width: 768px) {
  header .container {
    padding: 0 10px;
  }
}

@media (max-width: 425px) {
  header .container {
    padding: 0 10px;
  }
}
