@import "./_variables";

.header {
  background: $bg-color-primary;
  color: $text-color-secondary;
  padding: 30px 0;
  text-align: center;

  position: sticky;
  top: 0;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }

    &__link {
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mobile-buttons {
    display: none;

      &__tel {
      position: relative;
      margin-right: 10px;
      margin-left: auto;
      border: 1px solid #fff;
      border-radius: 10px;
      width: 44px;
      height: 44px;
      font-size: 0;
      padding: 10px;
    }

    &__burger {
      position: relative;
      border: 1px solid #fff;
      border-radius: 10px;
      width: 44px;
      height: 44px;
      padding: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 0;

    &__tel,
    .menu {
      display: none;
    }

    .mobile-buttons {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;

    &__logo {
      font-size: 20px;
    }
  }
}


