@import './_variables';

.header {
  background: $bg-color-primary;
  color: $text-color-secondary;
  padding: 30px 0;
  text-align: center;

  position: sticky;
  top: 0;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__link {
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

