@import "./_variables";

.modal {
  display: none;

  position: fixed;
  column-gap: 40px;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $bg-color-modal-70;

  &.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
    padding: 40px;
    max-height: 90vh;
    width: min(95%, 940px);
    height: 770px;

    .close-modal-btn {
      &__desktop {
        position: absolute;
        right: 40px;
        top: 40px;
        width: auto;
        height: auto;
        font-size: 18px;
        line-height: 160%;
        color: $text-color-primary-70;

        &:hover {
          color: $button-color-primary;
        }
      }
      &__mobile {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 15px;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 44px;
        height: 44px;
      }
    }

    .content-top {
      gap: 40px;
      display: flex;

      &__img {
        width: 160px;
        height: auto;
        max-width: 100%;
      }

      &__info {
        &-title {
          font-size: 24px;
          font-weight: 600;
          color: $text-color-primary;
        }
        &-desc {
          margin-top: 10px;
          font-size: 18px;
          color: $text-color-primary-70;
        }
        &-socials {
          display: flex;
          gap: 10px;
          margin-top: 10px;
        }
      }
    }

    .content-bottom {
      margin-top: 40px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 98%;
        height: 25px;
        bottom: 0;
        left: 0;
        background-image: $bg-image-tabs;
      }

      .tabs-menu {
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        position: relative;
        border-bottom: 2px solid $hr-color;

        &__btn {
          color: $text-color-primary-70;
          transition: color 0.1s ease;
          padding: 15px 0;
          width: 100%;
          display: flex;

          &:hover {
            color: $text-color-primary;
          }
          &.active {
            color: $button-color-primary;
          }
        }
      }

      &__tabs-content {
        position: relative;
        max-height: 340px;
        overflow-y: scroll;
        padding-bottom: 25px;

        .tabcontent {
          display: none;
          padding: 6px 0;
          border-top: none;

          &__info {
            margin-top: 20px;
            font-size: 20px;
            line-height: 32px;
          }

          &__title {
            font-size: 24px;
            font-weight: 600;
            color: $text-color-primary;
            margin-top: 40px;
          }
          &.active {
            display: block;
          }
        }
      }
    }
  }
}

.select-teachers {
  position: relative;
  display: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 30px;

  &__btn {
    position: relative;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    background-color: $bg-color-tertiary;
    color: $text-color-secondary;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 1;
    gap: 10px;
  }

  &__img {
    .arrow {
      width: 10px;
      height: 10px;
    }
  }

  &__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;

    &.active {
      display: flex;
    }

    &-item {
      width: 100%;
      padding: 10px;
      background-color: $bg-color-tertiary;
      color: $text-color-secondary;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      border-bottom: 0;

      &.active {
        background-color: $bg-color-tertiary-active;
      }
    }
  }
}

@media(max-width: 768px) {
  .modal {
    &-content {
      padding: 30px 20px;
      height: 100%;
      width: 100%;
      border-radius: 0;
      max-height: 100dvh;

      .close-modal-btn {
        &__desktop {
          display: none;
        }

        &__mobile {
          display: flex;
        }
      }

      .select-teachers {
        display: flex;

        &__btn {
          display: flex;
        }

        &__list {
          &-item {
            display: flex;
          }
        }
      }

      .content-top {
        gap: 20px;

        &__img {
          max-width: 100%;
          min-width: 60px;
          height: auto;
        }

        &__info {
          margin-top: 30px;

          &-title {
            font-size: 16px;
          }

          &-desc {
            margin-top: 5px;
            font-size: 12px;
          }

          &-socials {
            gap: 5px;
            margin-top: 10px;
          }
        }
      }

      .content-bottom {
        margin-top: 20px;
        flex-grow: 1;
        overflow-x: scroll;

        &::after {
          content: none;
        }

        .tabs-menu {
          display: none;
        }

        &__tabs-content {
          max-height: unset;

          .tabcontent {
            padding: 6px 0;

            &__info {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
