.package {
  &-title {
    font-size: 50px;
    font-weight: 600;
  }

  &-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    gap: 40px;
    margin-top: 80px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 360px;
    border: 2px solid #dddce0;
    border-radius: 20px;
    padding: 40px;
    transition:
      transform 0.2s ease,
      background-color 0.2s ease,
      border 0.2s ease,
      color 0.2s ease;

    &:hover {
      background-color: #141024;
      border: 2px solid #141024;
      color: #fff;
      transform: scale(1.1);

      :before,
      :after {
        background-color: #fff;
      }
    }

    &__title {
      font-size: 30px;
      font-weight: 600;
      align-self: center;
      width: max-content;
      text-transform: uppercase;
      position: relative;

      &::before,
      &::after {
        content: "";
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.2s ease;
        position: absolute;
        width: 19px;
        height: 3px;
        background-color: #141024;
      }

      &::before {
        left: -33px;
      }
      &::after {
        right: -33px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 33px;
    }

    &__price {
      font-size: 50px;
      font-weight: 600;
    }

    &__desc {
      font-size: 18px;
      margin-top: 20px;
    }

    &__btn {
      margin-top: auto;
    }
  }
}
