.package {
  &-title {
    font-size: 50px;
    font-weight: 600;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 40px;
    margin-top: 80px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    height: 460px;
    flex-basis: 360px;
    width: 100%;
    border: 2px solid #dddce0;
    border-radius: 20px;
    transition: transform 1s ease, background-color 1s ease;

    &:hover {
        background-color: #141024;
        border: none;
        color: #fff;
        transform: scale(1.1);
    }

    &__content {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 100%;
      padding: 40px;
    }

    &__title {
      font-size: 30px;
      font-weight: 600;
      display: inline-block;
      width: 150px;
      margin: 0 auto;
      text-transform: uppercase;

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 3px;
        background: #141024;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
        -webkit-baseline: middle;

        -webkit-transform: translate(0px, -2px);
        -moz-transform: translate(0px, -2px);
        transform: translate(0%, -2px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 3px;
        background: #141024;
        text-align: center;
        margin-left: 10px;
        vertical-align: middle;
        -webkit-baseline: middle;

        -webkit-transform: translate(0px, -2px);
        -moz-transform: translate(0px, -2px);
        transform: translate(0px, -2px);
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 60px;
    }

    &__price {
      font-size: 50px;
      font-weight: 600;
    }

    &__desc {
      font-size: 18px;
      margin-top: 20px;
    }

    &__btn {
      margin-top: auto;
    }
  }
}
