@import './_variables';

.profit {
  background-color: $bg-color-secondary;
  padding: 100px 0;

  &__title {
    font-size: 50px;
    font-weight: 600;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 90px;
    gap: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-size: 18px;
    margin-top: 20px;
    color: $text-color-primary-70;
  }
}

@media (max-width: 1024px) {
  .profit {
    padding: 50px 0;

    &__title {
      text-align: center;
    }

    &__items {
      margin-top: 40px;
      gap: 30px;
    }

    &__item {
      flex-basis: 300px;
    }

    &__text {
      margin-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .profit {
    &__title {
      font-size: 40px;
    }

    &__items {
      flex-direction: column;
      text-align: center;
      margin: 20px;
      gap: 30px;
    }

    &__item {
      flex-basis: 50px;
    }
  }
}

@media (max-width: 576px) {
  .profit {
    padding: 40px 0;
    
    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 32px;
    }

    &__text {
      font-size: 16px;
    }

    &__items {
      margin: 10px;
    }
  }
}
