.promo {
  position: relative;
  background-color: #141024;
  height: calc(100dvh - 108px);
  overflow: hidden;
  min-height: 100vh;

  &__content {
    display: flex;
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 266px;
    color: #fff;
  }

  &__title {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  &__description {
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 32px;
    max-width: 460px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    width: 260px;
  }
}

img {
  position: absolute;
  left: 48%;
  top: 84px;
  width: 783px;
  height: auto;
}
