
.tooltip {
  display: inline-flex;
  position: relative;
  bottom: 8px;
  cursor: help;
  padding-top: 8px;


  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  &__text {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    bottom: 100%;
    background-color: #fff;
    padding: 15px 20px;
    width: 255px;
    height: 55px;
    border-radius: 10px;
    color: #141024;
    // box-shadow: 20px -17px 50px -25px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 8px 0px #e8e7e9;
    display: none;
  }
  &:hover .tooltip__text {
    color: #141024b3;
    display: block;
  }
}
